// ==========================================================================
// Global Config
// ==========================================================================


// Descriptive Base Colors

$white: #fff;
$black: #0b0b0b;
$grey: #4a4c59;
$blue: #003d8d;
$green: #2ecc71;
$purple: #926fb1;
$red: #d64541;
$vscode-grey: #3E3E42;

$facebook-color: #3b5998;
$linkedin-color: #0077B5;
$github-color: #6e5494;

$pink-form-background:#f2dede;
$pink-form-border: #ebccd1;
$red-danger: #a94442;
$green-success-background: #ddffdd;
$green-success-border: #9ae9b2;
$green-d: #00b67b;

// Font Stacks

$font-url--google: 'http://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900';
$font-family--primary: 'Jost', sans-serif;

$base-font-size: 48px;

// Viewport Breakpoints

$brkpoint-sm: 320px;
$brkpoint-smd: 650px;
$brkpoint-md: 768px;
$brkpoint-lg: 992px;
$brkpoint-xlg: 1260px;

