// ==========================================================================
// Mixins
// ==========================================================================



// Viewport breakpoints 
@mixin viewport($break) {
    
    @if $break == "small" { // small generally used for mobile phones
        @media (min-width: $brkpoint-sm) and (max-width: #{$brkpoint-md - 1}) { // between 320px and 767px
            @content;
        }
    }
    @else if $break == "smedium" {
        @media (min-width: $brkpoint-smd) and (max-width: #{brkpoint-md - 1}) { // between 650px and 767px
            @content;
        }
    }
    @else if $break == "medium" { 
        @media (min-width: $brkpoint-md) and (max-width: #{$brkpoint-lg - 1}) { // between 768px and 991px
            @content;
        }
    }
    @else if $break == "large" { // large generally used for desktop monitors
        @media (min-width: $brkpoint-lg) and (max-width: #{$brkpoint-xlg - 1}) { // between 992px and 1259px
            @content;
        }
    }
    @else if $break == "x-large" { // extra large
        @media (min-width: $brkpoint-xlg) { // greater than 1260px
            @content;
        }
    }
    @else {
        @error "No value could be retrieved for break for `#{$break}`";
    }

    
}



// Project Block Format
@mixin projectblock-format() {
    
    border: 5px solid $blue;
    border-radius: 0 0 2% 2%;
    flex-direction: column;
    
    margin: 20px 20px;
    position: relative;
    transition: .5s ease;

}

// Button Format
@mixin btn-format() {
    font-family: $font-family--primary;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-align: center;

    font-size: em($base-font-size);
    border-radius: 3px;
    background-color: grey;
    color: white;
    row-gap: em(10px);
}

// Header / Nav Logo Background

@mixin bg-gradiant() {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

// Hamburger

@mixin hamburger() {
    content: "";
    display: block;
    position: absolute;
    width: toRem(33);
    height: toRem(4);
    background-color: $white;
    border-radius: 0;
}