// ==========================================================================
// Container
// ==========================================================================

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    

    @include viewport(large) {
        margin-left: 15rem;
    }

    @include viewport(x-large) {
        margin-left: 15rem;
    }
}

.container {
    
    &__code {
        background-color: $vscode-grey;
        overflow-x: auto;
    }

    &__center {
        width: 75%;
        align-self: center;
        margin: toRem(50) auto;

        @include viewport(small) {
            max-width: 400px;
        }
        @include viewport(medium) {
            width: 700px;
        }

        @include viewport(large) {
            
        }
        
        &--projects {
            @include viewport(large) {
                width: 660px;
            }

            @include viewport(x-large) {
                width: 90%;
            }
        }
      
    }
}