// ==========================================================================
// Container
// ==========================================================================

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    

    @include viewport(large) {
        margin-left: 10rem;
    }

    @include viewport(x-large) {
        margin-left: 10rem;
    }
}

.container {
    width: 90%;
    margin: auto;
}