// ==========================================================================
// Footer Section
// ==========================================================================

.footer {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__top-link {
        text-decoration: none;
        color: $black;
    }

    
}

footer h2 {
    margin-top: toRem(5);
}
