// ==========================================================================
// Navigation Section
// ==========================================================================

.primary-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    background-color: $white;
    border-right: 8px solid $blue;
    width: 15rem;

    @include viewport(small) {
        display: none;
    }

    @include viewport(medium) {
        display: none;
    }

    &__socials {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0;
        list-style: none;

        & li {
            margin-left: toRem(20);
            margin-right: toRem(20);
            margin-bottom: 0;
        }
    }

    &__pages {
        display: block;
        list-style: none;
        margin-bottom: 0;
    }

    &__logo {
        @include bg-gradiant();

        display: flex;
        justify-content: center;
        width: 100%;
        color: $black;
        font-size: toRem(100);
        text-decoration: none;
        text-align: center;
        border-bottom: 8px solid $blue;
    }

    & ul {
        padding: 0;
        text-align: center;
        font-size: toRem(28);
        font-weight: bold;
        
    }
    & li {
        margin-bottom: toRem(25);
        
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    & a {
        text-decoration: none;
        color: $black;
    }
}

.primary-nav__flex-container {
   display: flex;
   flex-direction: column;
}

.primary-nav__hamburger {
    position: fixed;
    z-index: 1;
    vertical-align: middle;
    top: toRem(20);
    right: toRem(20);
    
    width: toRem(50);
    height: toRem(50);

}


