// ==========================================================================
// Projects Section
// ==========================================================================

.project__grid {
    display: grid;
    gap: toRem(20);
    
    
    @include viewport(smedium) {
        max-width: toRem(600);
        margin: 0 auto;
    }

    @include viewport(medium) {
        max-width: 700px;
        margin: 0 auto;
        grid-template-columns: 50% 50%;
        
    }

    @include viewport(large) {
        max-width: 882px;
        grid-template-columns: 50% 50%;
    }

    @include viewport (x-large) {
        grid-template-columns: 33% 33% 33%;
    }
}

.project__block {

    box-sizing: border-box;
    
    &--content {
        @include projectblock-format();

        &--height {
            @include viewport(medium) {
                height: 453px;
                min-height: 495px;
            }
            
        }
    }

    &--hover {
        top:0;
        position: relative;
        transition: .5s ease;

        &:hover {
            top:-10px;
            transition: .5s ease;
            cursor: pointer;
        }
    }

    
    & p {
        margin-right: toRem(10);
    }
}
