// ==========================================================================
// Header Section
// ==========================================================================

#banner {
    display: flex;
    justify-content: center;
    background-color: maroon;
    
}

p {
    color: magenta;
}