// ==========================================================================
// Header Section
// ==========================================================================

@import '../utilities/mixins';

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    @include bg-gradiant();

    
}

.banner__heading { 
    text-align: center;
}


  

  
