// ==========================================================================
// Header Section
// ==========================================================================

@import '../utilities/mixins';

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    @include bg-gradiant();

    
}

.banner__heading { 
    display: flex;
    text-align: center;
}

.banner__text {
    color: #111;
    //font-variation-settings: "wght" var(--font-weight, 100);
    font-size: 2rem;
    margin-left: 1px;
    margin-right: 1px;
}


  

  
