// ==========================================================================
// Normalize
// ==========================================================================

html {
    font-family: 'Jost', sans-serif;
    width: 100%;
    height:100%;
}

body {
    margin: 0;
    
}