// ==========================================================================
// Icon Section
// ==========================================================================

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-arrow-up {
    fill: $black;
    font-size: 32px;
}


.icon-facebook {
    fill: $black;

    &:hover {
        fill: $facebook-color;
    }
}

.icon-linkedin {
    fill: $black;

    &:hover {
        fill: $linkedin-color;
    }
}

.icon-github {

    &:hover {
        fill: $github-color;
    }
}

.icon-html5 {
    @include language-icon-format();
}

.icon-css3 {
    @include language-icon-format();
}

.icon-sass {
    @include language-icon-format();
}

.icon-javascript {
    @include language-icon-format();
}

.icon-php {
    @include language-icon-format();
}