// ==========================================================================
// Image Section
// ==========================================================================

.project__block {

    & img {
        width: 100%;
        height: 100%;
        max-height: toRem(565);

        @include viewport(medium) {
            height: 190px;
        }

        @include viewport(large) {
            height: 180px;
        }

        @include viewport(x-large) {
            min-height: 275px;
            max-height: 275px;
        }
    }
}

.image__profile {
    width: 10%;
    
    border-radius: 10%;
    border-color: black;
    border: 5px solid black;
    max-height: 420px;
    
    @include viewport(small) {
        width: 45%;
        @include landscape-format() {
            width: 7rem;
        }
    }

    @include viewport(medium) {
        width: 25%;
        
    }

    @include viewport(smedium) {
        width: 25%;
    }

    @include viewport(large) {
        width: 30%;
    }
    
    @include viewport(x-large) {
        width: 15%;
    }

    
    
}

.img-container {

    &--snippet {
        width: 100%;
    }
}