// ==========================================================================
// Image Section
// ==========================================================================

.project__block {

    & img {
        width: 100%;
        height: 100%;
        max-height: toRem(565);

       
    }
}